.post-login-header {
  background-color: #13AA52;
  padding-top: 50px;
  padding-bottom: 26px;
  color: #FFF;
  text-align: center;
}

.fa-check {
  color: #FFF;
  background-color: #13AA52;
  border-radius: 10px;
  font-size: 9pt;

}

.share_settings {
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 9pt;
}

.account_first {
  background-color: #CC169F;
  padding-bottom: 5px;
  padding-left: 5px;
  color: #FFF;
}

.account_second {
  background-color: #16AECC;
  padding-bottom: 5px;
  padding-left: 5px;
  color: #FFF;
}

.account_third {
  background-color: #E6B219;
  padding-bottom: 5px;
  padding-left: 5px;
  color: #FFF;
}

img.provider-logo {
  -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   filter: grayscale(100%);
   transition: all 0.5s ease;
}

img.provider-logo:hover {
  -webkit-filter: grayscale(0%);
   -moz-filter: grayscale(0%);
   filter: grayscale(0%);
}

.provider-logo-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.logo-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 83px;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: -1;
  transition: .3s ease;

}

.submit-settings-container {
  padding-top: 100px;
  padding-left: 27%;
}

.providers-title {
  padding-left: 5px;
  color: gray;
}

.providers-logos {
  padding-top: 15px;
}

.identified-first {
  padding-top: 200px;
  padding-left: 34%;
}

.identified-second {
  padding-top: 20px;
  text-align: center;
  color: #5353b3;
  font-size: 18pt;
}

.identified-third {
  padding-top: 12px;
  text-align: center;
  color: #aba9a9;
}

.identified-fourth {
  padding-top: 20px;
  padding-left: 34%;
}

.cancel-link {
  padding-right: 5%;
}

.assets-title {
  padding-left: 10%;
}

.assets-dollar-suffix {
  vertical-align: super;
}

.assets-value {
  font-size: 20pt;
}

.center-device {
  margin-left: 33%;
}

.login-screen {
  padding: 40px;
}

.waiting {
  display: none !important;
  position: relative;
  margin-left: 0%;
}



.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.overlay:image-offer {
  max-width: 100%;
  max-height: 100%;
}

.popup {
  margin: 70px auto;
  padding: 11px;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all .5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: none;
}
